/************* TAG SELECTOR ***************/

body{
    text-align: center;
    background-color: #E3FDFD;
    margin:0;
}

a{
    text-decoration: none;
    color: rgb(78, 78, 78);
}

hr{
    width: 5%;
    border: 8px dotted;
    border-bottom: none;
    color: rgb(190, 237, 245)

}

h3{
    color: #71C9CE;
    margin-top: 0;
}

strong{
    display: inline-block;
    padding: 0 5px 0;
    color: rgb(78, 78, 78);
}
/************* CLASS SELECTOR ***************/

.heading{
    color: #71C9CE;
}

.header{
    background-color: #96e8ec;
    margin: 0;
    opacity: 0.4;
    height: 50px;
}

.header-text{

    position: absolute;
    top: 1px;
}

.logo{
    width: 30px;


}

/* .social-media{
    
} */

.profile-pic{
    border-radius: 200%;
    width:150px;
    margin-top:20px;
}

.paragraph{
    color: rgb(78, 78, 78);
}
/************* ID SELECTOR ***************/

#insta{
    display: inline-block;
    margin: 10px;
}

#linkedin{
    display: inline-block;
    margin: 10px;

}

#github{
    display: inline-block;
    margin: 10px;


}

#facebook{
    display: inline-block;
    margin: 10px;


}

#email{
    display: inline-block;
    margin: 10px;


}

#twitter{
    display: inline-block;
    margin: 10px;


}

#home{
    display: inline-block;
    margin: 10px;
    margin-bottom: 0;
}

#skills{
    display: inline-block;
    margin: 10px;
    margin-bottom: 0;
}

#academic{  
    display: inline-block;
    margin: 10px;
    margin-bottom: 0;

}   